In [1]:
import pandas as pd

In [2]:
#importing CSV using pandas DF
df = pd.read_csv('2 ANUPoll2018Data_CSV_01428.csv',na_values=' ')

## Data Inpsection

In [3]:
df.head(5)

,srcid,IntDate,Mode,Q1_CF_Order,Q1,Q2,Q2_Oth,Q3,Q3_Oth,Q4,...,wt_volunteer,wt_design,wt_propensit,wt_base,wt_wave,weight,StateMap,p_gender_sdc,p_age_group_sdc,p_education_sdc
0,32,14-OCT-18,2,2,2,19,NaN,16.0,NaN,3,...,1,4695.4258,1.114882,5276.692042,1067.142227,0.120183,1,2.0,3.0,1.0
1,275,09-OCT-18,2,2,2,11,NaN,12.0,NaN,1,...,1,4997.3515,1.052563,5302.078168,1135.761705,0.127911,1,2.0,4.0,1.0
2,1180,10-OCT-18,2,2,2,-99,NaN,NaN,NaN,3,...,2,16529.8031,1.052563,17537.751375,33341.543181,3.754958,1,2.0,3.0,3.0
3,1600,12-OCT-18,2,2,2,19,NaN,29.0,NaN,3,...,2,6108.6230,1.205618,7423.539862,5172.421973,0.582523,1,2.0,4.0,2.0
4,840,10-OCT-18,2,2,4,16,NaN,13.0,NaN,3,...,2,4997.3515,1.052563,5302.078168,3420.816221,0.385256,1,1.0,4.0,2.0

In [4]:
#Getting the number of rows and columns
df.shape

(2150, 134)

In [5]:
#Checking what the data looks like by random sampling
df.sample(10)

,srcid,IntDate,Mode,Q1_CF_Order,Q1,Q2,Q2_Oth,Q3,Q3_Oth,Q4,...,wt_volunteer,wt_design,wt_propensit,wt_base,wt_wave,weight,StateMap,p_gender_sdc,p_age_group_sdc,p_education_sdc
798,331,17-OCT-18,2,2,4,35,NaN,1.0,NaN,3,...,2,7457.8144,1.114882,8381.048188,1694.957818,0.190888,8,1.0,2.0,1.0
1423,2528,19-OCT-18,2,2,2,6,NaN,96.0,Mushrooming of popular opinion campaign groups...,-98,...,1,7007.2345,2.700689,19075.641189,1592.553295,0.179355,8,2.0,2.0,1.0
1560,1729,13-OCT-18,1,2,5,13,NaN,27.0,NaN,5,...,2,12300.5481,2.700689,29175.259286,54122.411640,6.095320,5,1.0,4.0,3.0
1528,2388,18-OCT-18,1,2,4,19,NaN,13.0,NaN,1,...,2,6108.6230,2.700689,16629.370761,24162.955867,2.721256,1,1.0,3.0,3.0
1124,1919,17-OCT-18,2,1,2,-98,NaN,NaN,NaN,1,...,2,4695.4258,1.052563,4981.741753,7048.259485,0.793782,3,1.0,3.0,3.0
606,345,09-OCT-18,2,2,2,16,NaN,35.0,NaN,3,...,1,4695.4258,1.052563,4981.741753,1067.142227,0.120183,3,1.0,4.0,1.0
2054,2465,18-OCT-18,2,1,2,-98,NaN,NaN,NaN,-98,...,2,6127.3048,1.205618,7446.243028,20654.875594,2.326173,2,2.0,1.0,2.0
125,1813,14-OCT-18,2,1,1,37,NaN,1.0,NaN,3,...,2,4695.4258,1.205618,5706.143691,6185.456145,0.696612,3,2.0,2.0,1.0
1247,761,10-OCT-18,2,2,5,20,NaN,1.0,NaN,3,...,1,3530.6146,1.052563,3745.903123,802.412409,0.090368,1,1.0,3.0,1.0
654,680,10-OCT-18,2,2,2,11,NaN,13.0,NaN,1,...,2,8242.3830,1.412872,11738.526701,14417.996045,1.623769,4,1.0,4.0,3.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150 entries, 0 to 2149
Columns: 134 entries, srcid to p_education_sdc
dtypes: float64(68), int64(55), object(11)
memory usage: 2.2+ MB

#### Given that the dataframe is too big, python can't show all the basic stats of the data. I will need to select the columns that I need. for my analysis to make the data frame smaller

In [7]:
df.IntDate.value_counts()

09-OCT-18    563
10-OCT-18    364
11-OCT-18    285
13-OCT-18    180
12-OCT-18    159
16-OCT-18    141
14-OCT-18     95
19-OCT-18     80
15-OCT-18     73
17-OCT-18     62
18-OCT-18     55
20-OCT-18     38
21-OCT-18     37
08-OCT-18     16
22-OCT-18      2
Name: IntDate, dtype: int64

In [8]:
df.Mode.sample(5)

881     2
391     2
2046    2
1712    2
926     2
Name: Mode, dtype: int64

In [9]:
df.Q1.value_counts()

 2     1137
 4      709
 1      153
 5      132
 3       17
-98       2
Name: Q1, dtype: int64

In [10]:
df.Q2.value_counts()

 1     354
 16    335
 11    317
 13    244
 20     96
-98     90
 36     80
 4      80
 19     69
 96     55
 5      54
 17     50
 32     42
 29     38
 6      31
 35     31
 34     28
 30     27
-99     19
 37     18
 28     13
 2      11
 18     10
 8      10
 33      9
 12      8
 15      7
 27      6
 14      6
 26      5
 31      3
-96      2
 7       2
Name: Q2, dtype: int64

In [11]:
df.wt_internet.sample(5)

1415    2
103     1
448     1
320     1
1924    1
Name: wt_internet, dtype: int64

In [12]:
df.wt_volunteer.value_counts()

2    1354
1     796
Name: wt_volunteer, dtype: int64

In [13]:
df.sOSName.sample(5)

629     -1
12       6
159     12
143     12
1669     1
Name: sOSName, dtype: int64

In [14]:
df.Q4.value_counts()

 3     650
 1     604
 4     327
-98    115
 2      86
 97     61
 6      60
 11     53
 5      49
 96     47
-99     32
 8      12
 95     12
 13      8
 16      6
 15      5
 17      4
 32      4
 24      4
 10      4
 20      2
 34      1
 28      1
 22      1
 39      1
 36      1
Name: Q4, dtype: int64

In [15]:
df.Q3.value_counts()

 1.0     345
 16.0    229
 11.0    226
 13.0    164
 20.0    117
 96.0     94
 5.0      85
 4.0      80
 29.0     70
 6.0      66
 36.0     57
 17.0     56
 19.0     47
 30.0     44
 28.0     42
 32.0     40
 37.0     40
 35.0     38
-98.0     32
 34.0     28
 2.0      24
 33.0     21
 27.0     18
 15.0     11
 18.0     11
 14.0     10
 8.0       8
 7.0       7
 26.0      7
 12.0      7
 31.0      5
-99.0      5
-96.0      4
 3.0       1
Name: Q3, dtype: int64

In [16]:
df.Q1.value_counts()

 2     1137
 4      709
 1      153
 5      132
 3       17
-98       2
Name: Q1, dtype: int64

In [17]:
df.wt_sex.value_counts()

-99    2150
Name: wt_sex, dtype: int64

In [18]:
df.wt_internet.value_counts()

1    2069
2      81
Name: wt_internet, dtype: int64

In [19]:
df.p_region.value_counts()

-99    2150
Name: p_region, dtype: int64

In [20]:
df.p_geography.value_counts()

-99    2150
Name: p_geography, dtype: int64

In [21]:
df.Q9_DUM.value_counts()

1    1074
3     538
2     538
Name: Q9_DUM, dtype: int64

In [22]:
df.Q9a_CLICK.value_counts()

0.0    923
1.0     23
Name: Q9a_CLICK, dtype: int64

In [23]:
df.Q9b_CLICK.value_counts()

0.0    455
1.0     14
Name: Q9b_CLICK, dtype: int64

In [24]:
df.Q9c_CLICK.value_counts()

0.0    465
1.0     13
Name: Q9c_CLICK, dtype: int64

In [25]:
df.wt_geography.value_counts()

-99    2150
Name: wt_geography, dtype: int64

In [26]:
df.Sect_0_time.value_counts()

15.000000    39
0.220000     29
1.116667     26
1.250000     25
0.650000     24
             ..
5.216667      1
3.816667      1
4.050000      1
5.650000      1
5.850000      1
Name: Sect_0_time, Length: 413, dtype: int64

In [27]:
df.Sect_0_time.describe()

count    2010.000000
mean        2.439567
std         2.714601
min         0.216667
25%         1.000000
50%         1.550000
75%         2.600000
max        15.000000
Name: Sect_0_time, dtype: float64

In [28]:
df.Sect_1_time.describe()

count    2034.000000
mean        1.769027
std         1.784668
min         0.200000
25%         1.033333
50%         1.383333
75%         1.883333
max        15.000000
Name: Sect_1_time, dtype: float64

In [29]:
df.Sect_16_time.describe()

count    1074.000000
mean        0.595950
std         1.275083
min         0.100000
25%         0.133333
50%         0.316667
75%         0.666667
max        15.000000
Name: Sect_16_time, dtype: float64

In [30]:
df.Sect_15_time.describe()

count    1073.000000
mean        1.865427
std         2.081636
min         0.130000
25%         1.000000
50%         1.383333
75%         1.883333
max        15.000000
Name: Sect_15_time, dtype: float64

In [31]:
df.p_gender_sdc.value_counts()

2.0    1131
1.0    1015
Name: p_gender_sdc, dtype: int64

In [32]:
df.p_education_sdc.value_counts()

1.0    949
2.0    567
3.0    561
Name: p_education_sdc, dtype: int64

In [33]:
df.p_age_group_sdc.value_counts()

4.0    663
3.0    623
2.0    609
1.0    213
Name: p_age_group_sdc, dtype: int64

In [34]:
df.Q1.value_counts()

 2     1137
 4      709
 1      153
 5      132
 3       17
-98       2
Name: Q1, dtype: int64

In [35]:
df.Q11.value_counts()

 2.0     572
 3.0     266
 1.0     236
-98.0      2
Name: Q11, dtype: int64

In [36]:
df.Q16.value_counts()

 3.0     389
 2.0     356
 1.0     174
 4.0     117
-98.0     37
-99.0      1
Name: Q16, dtype: int64

In [37]:
df.Q18.value_counts()

 3.0     486
 2.0     340
 1.0     135
 4.0      55
-98.0     50
-99.0      8
Name: Q18, dtype: int64

In [38]:
df.Q19a.value_counts()

 3.0     499
 2.0     332
 1.0     135
 4.0      74
-98.0     33
-99.0      1
Name: Q19a, dtype: int64

### After my initial inspection, I decided to select some attributes that I am more interested that I believe will contribute to my analysis meaningfully.

In [39]:
df_selected = df[['srcid','Q1','Q2','Q4','Q6a','Q6b','Q6c','Q6d','Q7a','Q7b','Q7c','Q7d','Q7e',\
    'Q8a','Q8b','Q8c','Q8d','Q8e','Q8f','Q8g','Q8h',\
    'Q10a','Q10b','Q10c','Q10d','Q11','Q11a','Q11b','Q12',\
    'Q14','Q15','Q16','Q17a','Q17b','Q17c','Q17d','Q17e','Q17f',\
    'Q18','Q19a','Q19b','Q19c','Q19d','Q19e','Q19f','Q19g',\
    'p_state','p_gender_sdc','p_age_group_sdc','p_education_sdc']]

In [40]:
df_selected.Q4.value_counts()

 3     650
 1     604
 4     327
-98    115
 2      86
 97     61
 6      60
 11     53
 5      49
 96     47
-99     32
 8      12
 95     12
 13      8
 16      6
 15      5
 17      4
 32      4
 24      4
 10      4
 20      2
 34      1
 28      1
 22      1
 39      1
 36      1
Name: Q4, dtype: int64

I would like to understand the impact of political orientation of the respondents and their view on certain issues in the survey. Since there were so many political parties in Q4, the results were too fragmented. I deicded to group them up to something more generic.

In [41]:
df_selected.Q4 = df_selected.Q4.replace(1,"Centre-right").replace(2,"Centre-right")\
                        .replace(3,"Centre-left").replace(4,"Green").replace(5,"Other")\
                        .replace(6,"Centre-right").replace(7,"Centre").replace(8,"Centre-left")\
                        .replace(9,"Far-right").replace(10,"Right-wing").replace(11,"Right-wing")\
                        .replace(13,"Right-wing").replace(14,"Right-wing").replace(15,"Right-wing")\
                        .replace(16,"Right-wing").replace(17,"Right-wing").replace(18,"Other")\
                        .replace(20,"Other").replace(22,"Right-wing").replace(23,"Right-wing")\
                        .replace(24,"Centre").replace(25,"Far-right").replace(26,"Centre")\
                        .replace(27,"Far-right").replace(28,"Centre").replace(29,"Far-right")\
                        .replace(30,"Other").replace(31,"Other").replace(32,"Other")\
                        .replace(33,"Other").replace(34,"Centre").replace(35,"Centre")\
                        .replace(36,"Far-right").replace(37,"Centre-left").replace(38,"Other")\
                        .replace(39,"Other").replace(95,"Swing").replace(96,"Independent")\
                        .replace(97,"No-party")

/Users/wtong/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [42]:
df_selected.Q4.value_counts()

Centre-right    750
Centre-left     662
Green           327
-98             115
Right-wing       81
No-party         61
Other            56
Independent      47
-99              32
Swing            12
Centre            6
Far-right         1
Name: Q4, dtype: int64

In [43]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150 entries, 0 to 2149
Data columns (total 50 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   srcid            2150 non-null   int64
 1   Q1               2150 non-null   int64
 2   Q2               2150 non-null   int64
 3   Q4               2150 non-null   object
 4   Q6a              2150 non-null   int64
 5   Q6b              2150 non-null   int64
 6   Q6c              2150 non-null   int64
 7   Q6d              2150 non-null   int64
 8   Q7a              2150 non-null   int64
 9   Q7b              2150 non-null   int64
 10  Q7c              2150 non-null   int64
 11  Q7d              2150 non-null   int64
 12  Q7e              2150 non-null   int64
 13  Q8a              2146 non-null   float64
 14  Q8b              2147 non-null   float64
 15  Q8c              2148 non-null   float64
 16  Q8d              2142 non-null   float64
 17  Q8e              2145 non-null   float64
 18  Q8f              2146 non-null   float64
 19  Q8g              2129 non-null   float64
 20  Q8h              2146 non-null   float64
 21  Q10a             2150 non-null   int64
 22  Q10b             2150 non-null   int64
 23  Q10c             2150 non-null   int64
 24  Q10d             2150 non-null   int64
 25  Q11              1076 non-null   float64
 26  Q11a             840 non-null    float64
 27  Q11b             236 non-null    float64
 28  Q12              1076 non-null   float64
 29  Q14              1076 non-null   float64
 30  Q15              1076 non-null   float64
 31  Q16              1074 non-null   float64
 32  Q17a             1074 non-null   float64
 33  Q17b             1074 non-null   float64
 34  Q17c             1074 non-null   float64
 35  Q17d             1074 non-null   float64
 36  Q17e             1074 non-null   float64
 37  Q17f             1074 non-null   float64
 38  Q18              1074 non-null   float64
 39  Q19a             1074 non-null   float64
 40  Q19b             1074 non-null   float64
 41  Q19c             1074 non-null   float64
 42  Q19d             1074 non-null   float64
 43  Q19e             1074 non-null   float64
 44  Q19f             1074 non-null   float64
 45  Q19g             1074 non-null   float64
 46  p_state          2150 non-null   int64
 47  p_gender_sdc     2146 non-null   float64
 48  p_age_group_sdc  2108 non-null   float64
 49  p_education_sdc  2077 non-null   float64
dtypes: float64(32), int64(17), object(1)
memory usage: 840.0+ KB

In [44]:
df_converted=df_selected

In [45]:
df_converted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150 entries, 0 to 2149
Data columns (total 50 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   srcid            2150 non-null   int64
 1   Q1               2150 non-null   int64
 2   Q2               2150 non-null   int64
 3   Q4               2150 non-null   object
 4   Q6a              2150 non-null   int64
 5   Q6b              2150 non-null   int64
 6   Q6c              2150 non-null   int64
 7   Q6d              2150 non-null   int64
 8   Q7a              2150 non-null   int64
 9   Q7b              2150 non-null   int64
 10  Q7c              2150 non-null   int64
 11  Q7d              2150 non-null   int64
 12  Q7e              2150 non-null   int64
 13  Q8a              2146 non-null   float64
 14  Q8b              2147 non-null   float64
 15  Q8c              2148 non-null   float64
 16  Q8d              2142 non-null   float64
 17  Q8e              2145 non-null   float64
 18  Q8f              2146 non-null   float64
 19  Q8g              2129 non-null   float64
 20  Q8h              2146 non-null   float64
 21  Q10a             2150 non-null   int64
 22  Q10b             2150 non-null   int64
 23  Q10c             2150 non-null   int64
 24  Q10d             2150 non-null   int64
 25  Q11              1076 non-null   float64
 26  Q11a             840 non-null    float64
 27  Q11b             236 non-null    float64
 28  Q12              1076 non-null   float64
 29  Q14              1076 non-null   float64
 30  Q15              1076 non-null   float64
 31  Q16              1074 non-null   float64
 32  Q17a             1074 non-null   float64
 33  Q17b             1074 non-null   float64
 34  Q17c             1074 non-null   float64
 35  Q17d             1074 non-null   float64
 36  Q17e             1074 non-null   float64
 37  Q17f             1074 non-null   float64
 38  Q18              1074 non-null   float64
 39  Q19a             1074 non-null   float64
 40  Q19b             1074 non-null   float64
 41  Q19c             1074 non-null   float64
 42  Q19d             1074 non-null   float64
 43  Q19e             1074 non-null   float64
 44  Q19f             1074 non-null   float64
 45  Q19g             1074 non-null   float64
 46  p_state          2150 non-null   int64
 47  p_gender_sdc     2146 non-null   float64
 48  p_age_group_sdc  2108 non-null   float64
 49  p_education_sdc  2077 non-null   float64
dtypes: float64(32), int64(17), object(1)
memory usage: 840.0+ KB

In [46]:
df_converted_original = df_converted

In [47]:
df_converted_original = df_converted_original.astype(str)

In [48]:
df_converted_original['Q1'] = "'" + df_converted_original['Q1']+"'"
df_converted_original['Q2'] = "'" + df_converted_original['Q2']+"'"
df_converted_original['Q4'] = "'" + df_converted_original['Q4']+"'"
df_converted_original['Q6a'] = "'" + df_converted_original['Q6a']+"'"
df_converted_original['Q6b'] = "'" + df_converted_original['Q6b']+"'"
df_converted_original['Q6c'] = "'" + df_converted_original['Q6c']+"'"
df_converted_original['Q6d'] = "'" + df_converted_original['Q6d']+"'"
df_converted_original['Q7a'] = "'" + df_converted_original['Q7a']+"'"
df_converted_original['Q7b'] = "'" + df_converted_original['Q7b']+"'"
df_converted_original['Q7c'] = "'" + df_converted_original['Q7c']+"'"
df_converted_original['Q7d'] = "'" + df_converted_original['Q7d']+"'"
df_converted_original['Q7e'] = "'" + df_converted_original['Q7e']+"'"
df_converted_original['Q8a'] = "'" + df_converted_original['Q8a']+"'"
df_converted_original['Q8b'] = "'" + df_converted_original['Q8b']+"'"
df_converted_original['Q8c'] = "'" + df_converted_original['Q8c']+"'"
df_converted_original['Q8d'] = "'" + df_converted_original['Q8d']+"'"
df_converted_original['Q8e'] = "'" + df_converted_original['Q8e']+"'"
df_converted_original['Q8f'] = "'" + df_converted_original['Q8f']+"'"
df_converted_original['Q8g'] = "'" + df_converted_original['Q8g']+"'"
df_converted_original['Q8h'] = "'" + df_converted_original['Q8h']+"'"
df_converted_original['Q10a'] = "'" + df_converted_original['Q10a']+"'"
df_converted_original['Q10b'] = "'" + df_converted_original['Q10b']+"'"
df_converted_original['Q10c'] = "'" + df_converted_original['Q10c']+"'"
df_converted_original['Q10d'] = "'" + df_converted_original['Q10d']+"'"
df_converted_original['Q11'] = "'" + df_converted_original['Q11']+"'"
df_converted_original['Q12'] = "'" + df_converted_original['Q12']+"'"
df_converted_original['Q14'] = "'" + df_converted_original['Q14']+"'"
df_converted_original['Q15'] = "'" + df_converted_original['Q15']+"'"
df_converted_original['Q16'] = "'" + df_converted_original['Q16']+"'"
df_converted_original['Q17a'] = "'" + df_converted_original['Q17a']+"'"
df_converted_original['Q17b'] = "'" + df_converted_original['Q17b']+"'"
df_converted_original['Q17c'] = "'" + df_converted_original['Q17c']+"'"
df_converted_original['Q17d'] = "'" + df_converted_original['Q17d']+"'"
df_converted_original['Q17e'] = "'" + df_converted_original['Q17e']+"'"
df_converted_original['Q17f'] = "'" + df_converted_original['Q17f']+"'"
df_converted_original['Q18'] = "'" + df_converted_original['Q18']+"'"
df_converted_original['Q19a'] = "'" + df_converted_original['Q19a']+"'"
df_converted_original['Q19b'] = "'" + df_converted_original['Q19b']+"'"
df_converted_original['Q19c'] = "'" + df_converted_original['Q19c']+"'"
df_converted_original['Q19d'] = "'" + df_converted_original['Q19d']+"'"
df_converted_original['Q19e'] = "'" + df_converted_original['Q19e']+"'"
df_converted_original['Q19f'] = "'" + df_converted_original['Q19f']+"'"
df_converted_original['Q19g'] = "'" + df_converted_original['Q19g']+"'"
df_converted_original['p_state'] = "'" + df_converted_original['p_state']+"'"
df_converted_original['p_gender_sdc'] = "'" + df_converted_original['p_gender_sdc']+"'"
df_converted_original['p_age_group_sdc'] = "'" + df_converted_original['p_age_group_sdc']+"'"
df_converted_original['p_education_sdc'] = "'" + df_converted_original['p_education_sdc']+"'"

In [49]:
df_converted_original = df_converted_original.astype(str)

In [50]:
df_converted_original.to_csv("original_rattle.csv",index = False)

In [51]:
df_converted_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150 entries, 0 to 2149
Data columns (total 50 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   srcid            2150 non-null   object
 1   Q1               2150 non-null   object
 2   Q2               2150 non-null   object
 3   Q4               2150 non-null   object
 4   Q6a              2150 non-null   object
 5   Q6b              2150 non-null   object
 6   Q6c              2150 non-null   object
 7   Q6d              2150 non-null   object
 8   Q7a              2150 non-null   object
 9   Q7b              2150 non-null   object
 10  Q7c              2150 non-null   object
 11  Q7d              2150 non-null   object
 12  Q7e              2150 non-null   object
 13  Q8a              2150 non-null   object
 14  Q8b              2150 non-null   object
 15  Q8c              2150 non-null   object
 16  Q8d              2150 non-null   object
 17  Q8e              2150 non-null   object
 18  Q8f              2150 non-null   object
 19  Q8g              2150 non-null   object
 20  Q8h              2150 non-null   object
 21  Q10a             2150 non-null   object
 22  Q10b             2150 non-null   object
 23  Q10c             2150 non-null   object
 24  Q10d             2150 non-null   object
 25  Q11              2150 non-null   object
 26  Q11a             2150 non-null   object
 27  Q11b             2150 non-null   object
 28  Q12              2150 non-null   object
 29  Q14              2150 non-null   object
 30  Q15              2150 non-null   object
 31  Q16              2150 non-null   object
 32  Q17a             2150 non-null   object
 33  Q17b             2150 non-null   object
 34  Q17c             2150 non-null   object
 35  Q17d             2150 non-null   object
 36  Q17e             2150 non-null   object
 37  Q17f             2150 non-null   object
 38  Q18              2150 non-null   object
 39  Q19a             2150 non-null   object
 40  Q19b             2150 non-null   object
 41  Q19c             2150 non-null   object
 42  Q19d             2150 non-null   object
 43  Q19e             2150 non-null   object
 44  Q19f             2150 non-null   object
 45  Q19g             2150 non-null   object
 46  p_state          2150 non-null   object
 47  p_gender_sdc     2150 non-null   object
 48  p_age_group_sdc  2150 non-null   object
 49  p_education_sdc  2150 non-null   object
dtypes: object(50)
memory usage: 840.0+ KB

### Creating a dataframe for module D cohort

In [52]:
df_rattle_d = df_converted[['srcid','Q1','Q2','Q4','Q6a','Q6b','Q6c','Q6d','Q7a','Q7b','Q7c','Q7d','Q7e',\
    'Q8a','Q8b','Q8c','Q8d','Q8e','Q8f','Q8g','Q8h',\
    'Q10a','Q10b','Q10c','Q10d','Q11','Q12','Q14','Q15', \
    'p_state','p_gender_sdc','p_age_group_sdc','p_education_sdc']]

In [53]:
df_rattle_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150 entries, 0 to 2149
Data columns (total 33 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   srcid            2150 non-null   int64
 1   Q1               2150 non-null   int64
 2   Q2               2150 non-null   int64
 3   Q4               2150 non-null   object
 4   Q6a              2150 non-null   int64
 5   Q6b              2150 non-null   int64
 6   Q6c              2150 non-null   int64
 7   Q6d              2150 non-null   int64
 8   Q7a              2150 non-null   int64
 9   Q7b              2150 non-null   int64
 10  Q7c              2150 non-null   int64
 11  Q7d              2150 non-null   int64
 12  Q7e              2150 non-null   int64
 13  Q8a              2146 non-null   float64
 14  Q8b              2147 non-null   float64
 15  Q8c              2148 non-null   float64
 16  Q8d              2142 non-null   float64
 17  Q8e              2145 non-null   float64
 18  Q8f              2146 non-null   float64
 19  Q8g              2129 non-null   float64
 20  Q8h              2146 non-null   float64
 21  Q10a             2150 non-null   int64
 22  Q10b             2150 non-null   int64
 23  Q10c             2150 non-null   int64
 24  Q10d             2150 non-null   int64
 25  Q11              1076 non-null   float64
 26  Q12              1076 non-null   float64
 27  Q14              1076 non-null   float64
 28  Q15              1076 non-null   float64
 29  p_state          2150 non-null   int64
 30  p_gender_sdc     2146 non-null   float64
 31  p_age_group_sdc  2108 non-null   float64
 32  p_education_sdc  2077 non-null   float64
dtypes: float64(15), int64(17), object(1)
memory usage: 554.4+ KB

In [54]:
df_rattle_d = df_rattle_d.dropna()

In [55]:
df_rattle_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1011 entries, 1 to 2149
Data columns (total 33 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   srcid            1011 non-null   int64
 1   Q1               1011 non-null   int64
 2   Q2               1011 non-null   int64
 3   Q4               1011 non-null   object
 4   Q6a              1011 non-null   int64
 5   Q6b              1011 non-null   int64
 6   Q6c              1011 non-null   int64
 7   Q6d              1011 non-null   int64
 8   Q7a              1011 non-null   int64
 9   Q7b              1011 non-null   int64
 10  Q7c              1011 non-null   int64
 11  Q7d              1011 non-null   int64
 12  Q7e              1011 non-null   int64
 13  Q8a              1011 non-null   float64
 14  Q8b              1011 non-null   float64
 15  Q8c              1011 non-null   float64
 16  Q8d              1011 non-null   float64
 17  Q8e              1011 non-null   float64
 18  Q8f              1011 non-null   float64
 19  Q8g              1011 non-null   float64
 20  Q8h              1011 non-null   float64
 21  Q10a             1011 non-null   int64
 22  Q10b             1011 non-null   int64
 23  Q10c             1011 non-null   int64
 24  Q10d             1011 non-null   int64
 25  Q11              1011 non-null   float64
 26  Q12              1011 non-null   float64
 27  Q14              1011 non-null   float64
 28  Q15              1011 non-null   float64
 29  p_state          1011 non-null   int64
 30  p_gender_sdc     1011 non-null   float64
 31  p_age_group_sdc  1011 non-null   float64
 32  p_education_sdc  1011 non-null   float64
dtypes: float64(15), int64(17), object(1)
memory usage: 268.5+ KB

#### Changing datatype to objects

In [56]:
df_rattle_d = df_rattle_d.astype(str)

In [57]:
df_rattle_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1011 entries, 1 to 2149
Data columns (total 33 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   srcid            1011 non-null   object
 1   Q1               1011 non-null   object
 2   Q2               1011 non-null   object
 3   Q4               1011 non-null   object
 4   Q6a              1011 non-null   object
 5   Q6b              1011 non-null   object
 6   Q6c              1011 non-null   object
 7   Q6d              1011 non-null   object
 8   Q7a              1011 non-null   object
 9   Q7b              1011 non-null   object
 10  Q7c              1011 non-null   object
 11  Q7d              1011 non-null   object
 12  Q7e              1011 non-null   object
 13  Q8a              1011 non-null   object
 14  Q8b              1011 non-null   object
 15  Q8c              1011 non-null   object
 16  Q8d              1011 non-null   object
 17  Q8e              1011 non-null   object
 18  Q8f              1011 non-null   object
 19  Q8g              1011 non-null   object
 20  Q8h              1011 non-null   object
 21  Q10a             1011 non-null   object
 22  Q10b             1011 non-null   object
 23  Q10c             1011 non-null   object
 24  Q10d             1011 non-null   object
 25  Q11              1011 non-null   object
 26  Q12              1011 non-null   object
 27  Q14              1011 non-null   object
 28  Q15              1011 non-null   object
 29  p_state          1011 non-null   object
 30  p_gender_sdc     1011 non-null   object
 31  p_age_group_sdc  1011 non-null   object
 32  p_education_sdc  1011 non-null   object
dtypes: object(33)
memory usage: 268.5+ KB

In [58]:
df_rattle_d['Q1'] = "'" + df_rattle_d['Q1']+"'"
df_rattle_d['Q2'] = "'" + df_rattle_d['Q2']+"'"
df_rattle_d['Q4'] = "'" + df_rattle_d['Q4']+"'"
df_rattle_d['Q6a'] = "'" + df_rattle_d['Q6a']+"'"
df_rattle_d['Q6b'] = "'" + df_rattle_d['Q6b']+"'"
df_rattle_d['Q6c'] = "'" + df_rattle_d['Q6c']+"'"
df_rattle_d['Q6d'] = "'" + df_rattle_d['Q6d']+"'"
df_rattle_d['Q7a'] = "'" + df_rattle_d['Q7a']+"'"
df_rattle_d['Q7b'] = "'" + df_rattle_d['Q7b']+"'"
df_rattle_d['Q7c'] = "'" + df_rattle_d['Q7c']+"'"
df_rattle_d['Q7d'] = "'" + df_rattle_d['Q7d']+"'"
df_rattle_d['Q7e'] = "'" + df_rattle_d['Q7e']+"'"
df_rattle_d['Q8a'] = "'" + df_rattle_d['Q8a']+"'"
df_rattle_d['Q8b'] = "'" + df_rattle_d['Q8b']+"'"
df_rattle_d['Q8c'] = "'" + df_rattle_d['Q8c']+"'"
df_rattle_d['Q8d'] = "'" + df_rattle_d['Q8d']+"'"
df_rattle_d['Q8e'] = "'" + df_rattle_d['Q8e']+"'"
df_rattle_d['Q8f'] = "'" + df_rattle_d['Q8f']+"'"
df_rattle_d['Q8g'] = "'" + df_rattle_d['Q8g']+"'"
df_rattle_d['Q8h'] = "'" + df_rattle_d['Q8h']+"'"
df_rattle_d['Q10a'] = "'" + df_rattle_d['Q10a']+"'"
df_rattle_d['Q10b'] = "'" + df_rattle_d['Q10b']+"'"
df_rattle_d['Q10c'] = "'" + df_rattle_d['Q10c']+"'"
df_rattle_d['Q10d'] = "'" + df_rattle_d['Q10d']+"'"
df_rattle_d['Q11'] = "'" + df_rattle_d['Q11']+"'"
df_rattle_d['Q12'] = "'" + df_rattle_d['Q12']+"'"
df_rattle_d['Q14'] = "'" + df_rattle_d['Q14']+"'"
df_rattle_d['Q15'] = "'" + df_rattle_d['Q15']+"'"
df_rattle_d['p_state'] = "'" + df_rattle_d['p_state']+"'"
df_rattle_d['p_gender_sdc'] = "'" + df_rattle_d['p_gender_sdc']+"'"
df_rattle_d['p_age_group_sdc'] = "'" + df_rattle_d['p_age_group_sdc']+"'"
df_rattle_d['p_education_sdc'] = "'" + df_rattle_d['p_education_sdc']+"'"

In [59]:
df_rattle_d.head()

,srcid,Q1,Q2,Q4,Q6a,Q6b,Q6c,Q6d,Q7a,Q7b,...,Q10c,Q10d,Q11,Q12,Q14,Q15,p_state,p_gender_sdc,p_age_group_sdc,p_education_sdc
1,275,'2','11','Centre-right','2','2','2','2','1','1',...,'4','1','3.0','1.0','3.0','2.0','1','2.0','4.0','1.0'
2,1180,'2','-99','Centre-left','-99','4','3','4','3','3',...,'4','4','2.0','4.0','4.0','3.0','1','2.0','3.0','3.0'
3,1600,'2','19','Centre-left','4','2','2','2','1','1',...,'1','1','1.0','2.0','2.0','1.0','1','2.0','4.0','2.0'
4,840,'4','16','Centre-left','3','2','2','2','1','2',...,'4','1','3.0','2.0','2.0','3.0','1','1.0','4.0','2.0'
8,1604,'2','13','Centre-left','5','5','2','5','1','1',...,'4','4','1.0','1.0','3.0','3.0','1','2.0','4.0','3.0'

In [60]:
# Save dataframe as a CSV for analysis on Rattle
df_rattle_d.to_csv('rattle_version_d.csv', index = False)

In [61]:
df_rattle_d.Q4.value_counts()

'Centre-right'    356
'Centre-left'     322
'Green'           157
'-98'              51
'No-party'         32
'Right-wing'       30
'Other'            24
'Independent'      20
'-99'              13
'Swing'             5
'Centre'            1
Name: Q4, dtype: int64

In [62]:
df_rattle_d.head()

,srcid,Q1,Q2,Q4,Q6a,Q6b,Q6c,Q6d,Q7a,Q7b,...,Q10c,Q10d,Q11,Q12,Q14,Q15,p_state,p_gender_sdc,p_age_group_sdc,p_education_sdc
1,275,'2','11','Centre-right','2','2','2','2','1','1',...,'4','1','3.0','1.0','3.0','2.0','1','2.0','4.0','1.0'
2,1180,'2','-99','Centre-left','-99','4','3','4','3','3',...,'4','4','2.0','4.0','4.0','3.0','1','2.0','3.0','3.0'
3,1600,'2','19','Centre-left','4','2','2','2','1','1',...,'1','1','1.0','2.0','2.0','1.0','1','2.0','4.0','2.0'
4,840,'4','16','Centre-left','3','2','2','2','1','2',...,'4','1','3.0','2.0','2.0','3.0','1','1.0','4.0','2.0'
8,1604,'2','13','Centre-left','5','5','2','5','1','1',...,'4','4','1.0','1.0','3.0','3.0','1','2.0','4.0','3.0'

### Creating a dataframe for module E cohort

In [63]:
df_rattle_e = df_converted[['srcid','Q1','Q2','Q4','Q6a','Q6b','Q6c','Q6d','Q7a','Q7b','Q7c','Q7d','Q7e',\
    'Q8a','Q8b','Q8c','Q8d','Q8e','Q8f','Q8g','Q8h',\
    'Q10a','Q10b','Q10c','Q10d','Q16','Q17a','Q17b','Q17c','Q17d','Q17e','Q17f',\
    'Q18','Q19a','Q19b','Q19c','Q19d','Q19e','Q19f','Q19g',\
    'p_state','p_gender_sdc','p_age_group_sdc','p_education_sdc']]

In [64]:
df_rattle_e.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150 entries, 0 to 2149
Data columns (total 44 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   srcid            2150 non-null   int64
 1   Q1               2150 non-null   int64
 2   Q2               2150 non-null   int64
 3   Q4               2150 non-null   object
 4   Q6a              2150 non-null   int64
 5   Q6b              2150 non-null   int64
 6   Q6c              2150 non-null   int64
 7   Q6d              2150 non-null   int64
 8   Q7a              2150 non-null   int64
 9   Q7b              2150 non-null   int64
 10  Q7c              2150 non-null   int64
 11  Q7d              2150 non-null   int64
 12  Q7e              2150 non-null   int64
 13  Q8a              2146 non-null   float64
 14  Q8b              2147 non-null   float64
 15  Q8c              2148 non-null   float64
 16  Q8d              2142 non-null   float64
 17  Q8e              2145 non-null   float64
 18  Q8f              2146 non-null   float64
 19  Q8g              2129 non-null   float64
 20  Q8h              2146 non-null   float64
 21  Q10a             2150 non-null   int64
 22  Q10b             2150 non-null   int64
 23  Q10c             2150 non-null   int64
 24  Q10d             2150 non-null   int64
 25  Q16              1074 non-null   float64
 26  Q17a             1074 non-null   float64
 27  Q17b             1074 non-null   float64
 28  Q17c             1074 non-null   float64
 29  Q17d             1074 non-null   float64
 30  Q17e             1074 non-null   float64
 31  Q17f             1074 non-null   float64
 32  Q18              1074 non-null   float64
 33  Q19a             1074 non-null   float64
 34  Q19b             1074 non-null   float64
 35  Q19c             1074 non-null   float64
 36  Q19d             1074 non-null   float64
 37  Q19e             1074 non-null   float64
 38  Q19f             1074 non-null   float64
 39  Q19g             1074 non-null   float64
 40  p_state          2150 non-null   int64
 41  p_gender_sdc     2146 non-null   float64
 42  p_age_group_sdc  2108 non-null   float64
 43  p_education_sdc  2077 non-null   float64
dtypes: float64(26), int64(17), object(1)
memory usage: 739.2+ KB

In [65]:
df_rattle_e = df_rattle_e.dropna()

In [66]:
df_rattle_e.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 992 entries, 0 to 2146
Data columns (total 44 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   srcid            992 non-null    int64
 1   Q1               992 non-null    int64
 2   Q2               992 non-null    int64
 3   Q4               992 non-null    object
 4   Q6a              992 non-null    int64
 5   Q6b              992 non-null    int64
 6   Q6c              992 non-null    int64
 7   Q6d              992 non-null    int64
 8   Q7a              992 non-null    int64
 9   Q7b              992 non-null    int64
 10  Q7c              992 non-null    int64
 11  Q7d              992 non-null    int64
 12  Q7e              992 non-null    int64
 13  Q8a              992 non-null    float64
 14  Q8b              992 non-null    float64
 15  Q8c              992 non-null    float64
 16  Q8d              992 non-null    float64
 17  Q8e              992 non-null    float64
 18  Q8f              992 non-null    float64
 19  Q8g              992 non-null    float64
 20  Q8h              992 non-null    float64
 21  Q10a             992 non-null    int64
 22  Q10b             992 non-null    int64
 23  Q10c             992 non-null    int64
 24  Q10d             992 non-null    int64
 25  Q16              992 non-null    float64
 26  Q17a             992 non-null    float64
 27  Q17b             992 non-null    float64
 28  Q17c             992 non-null    float64
 29  Q17d             992 non-null    float64
 30  Q17e             992 non-null    float64
 31  Q17f             992 non-null    float64
 32  Q18              992 non-null    float64
 33  Q19a             992 non-null    float64
 34  Q19b             992 non-null    float64
 35  Q19c             992 non-null    float64
 36  Q19d             992 non-null    float64
 37  Q19e             992 non-null    float64
 38  Q19f             992 non-null    float64
 39  Q19g             992 non-null    float64
 40  p_state          992 non-null    int64
 41  p_gender_sdc     992 non-null    float64
 42  p_age_group_sdc  992 non-null    float64
 43  p_education_sdc  992 non-null    float64
dtypes: float64(26), int64(17), object(1)
memory usage: 348.8+ KB

In [67]:
#### Changing datatype to objects

In [68]:
df_rattle_e = df_rattle_e.astype(str)

In [69]:
df_rattle_e.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 992 entries, 0 to 2146
Data columns (total 44 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   srcid            992 non-null    object
 1   Q1               992 non-null    object
 2   Q2               992 non-null    object
 3   Q4               992 non-null    object
 4   Q6a              992 non-null    object
 5   Q6b              992 non-null    object
 6   Q6c              992 non-null    object
 7   Q6d              992 non-null    object
 8   Q7a              992 non-null    object
 9   Q7b              992 non-null    object
 10  Q7c              992 non-null    object
 11  Q7d              992 non-null    object
 12  Q7e              992 non-null    object
 13  Q8a              992 non-null    object
 14  Q8b              992 non-null    object
 15  Q8c              992 non-null    object
 16  Q8d              992 non-null    object
 17  Q8e              992 non-null    object
 18  Q8f              992 non-null    object
 19  Q8g              992 non-null    object
 20  Q8h              992 non-null    object
 21  Q10a             992 non-null    object
 22  Q10b             992 non-null    object
 23  Q10c             992 non-null    object
 24  Q10d             992 non-null    object
 25  Q16              992 non-null    object
 26  Q17a             992 non-null    object
 27  Q17b             992 non-null    object
 28  Q17c             992 non-null    object
 29  Q17d             992 non-null    object
 30  Q17e             992 non-null    object
 31  Q17f             992 non-null    object
 32  Q18              992 non-null    object
 33  Q19a             992 non-null    object
 34  Q19b             992 non-null    object
 35  Q19c             992 non-null    object
 36  Q19d             992 non-null    object
 37  Q19e             992 non-null    object
 38  Q19f             992 non-null    object
 39  Q19g             992 non-null    object
 40  p_state          992 non-null    object
 41  p_gender_sdc     992 non-null    object
 42  p_age_group_sdc  992 non-null    object
 43  p_education_sdc  992 non-null    object
dtypes: object(44)
memory usage: 348.8+ KB

In [70]:
df_rattle_e['Q1'] = "'" + df_rattle_e['Q1']+"'"
df_rattle_e['Q2'] = "'" + df_rattle_e['Q2']+"'"
df_rattle_e['Q4'] = "'" + df_rattle_e['Q4']+"'"
df_rattle_e['Q6a'] = "'" + df_rattle_e['Q6a']+"'"
df_rattle_e['Q6b'] = "'" + df_rattle_e['Q6b']+"'"
df_rattle_e['Q6c'] = "'" + df_rattle_e['Q6c']+"'"
df_rattle_e['Q6d'] = "'" + df_rattle_e['Q6d']+"'"
df_rattle_e['Q7a'] = "'" + df_rattle_e['Q7a']+"'"
df_rattle_e['Q7b'] = "'" + df_rattle_e['Q7b']+"'"
df_rattle_e['Q7c'] = "'" + df_rattle_e['Q7c']+"'"
df_rattle_e['Q7d'] = "'" + df_rattle_e['Q7d']+"'"
df_rattle_e['Q7e'] = "'" + df_rattle_e['Q7e']+"'"
df_rattle_e['Q8a'] = "'" + df_rattle_e['Q8a']+"'"
df_rattle_e['Q8b'] = "'" + df_rattle_e['Q8b']+"'"
df_rattle_e['Q8c'] = "'" + df_rattle_e['Q8c']+"'"
df_rattle_e['Q8d'] = "'" + df_rattle_e['Q8d']+"'"
df_rattle_e['Q8e'] = "'" + df_rattle_e['Q8e']+"'"
df_rattle_e['Q8f'] = "'" + df_rattle_e['Q8f']+"'"
df_rattle_e['Q8g'] = "'" + df_rattle_e['Q8g']+"'"
df_rattle_e['Q8h'] = "'" + df_rattle_e['Q8h']+"'"
df_rattle_e['Q10a'] = "'" + df_rattle_e['Q10a']+"'"
df_rattle_e['Q10b'] = "'" + df_rattle_e['Q10b']+"'"
df_rattle_e['Q10c'] = "'" + df_rattle_e['Q10c']+"'"
df_rattle_e['Q10d'] = "'" + df_rattle_e['Q10d']+"'"
df_rattle_e['Q16'] = "'" + df_rattle_e['Q16']+"'"
df_rattle_e['Q17a'] = "'" + df_rattle_e['Q17a']+"'"
df_rattle_e['Q17b'] = "'" + df_rattle_e['Q17b']+"'"
df_rattle_e['Q17c'] = "'" + df_rattle_e['Q17c']+"'"
df_rattle_e['Q17d'] = "'" + df_rattle_e['Q17d']+"'"
df_rattle_e['Q17e'] = "'" + df_rattle_e['Q17e']+"'"
df_rattle_e['Q17f'] = "'" + df_rattle_e['Q17f']+"'"
df_rattle_e['Q18'] = "'" + df_rattle_e['Q18']+"'"
df_rattle_e['Q19a'] = "'" + df_rattle_e['Q19a']+"'"
df_rattle_e['Q19b'] = "'" + df_rattle_e['Q19b']+"'"
df_rattle_e['Q19c'] = "'" + df_rattle_e['Q19c']+"'"
df_rattle_e['Q19d'] = "'" + df_rattle_e['Q19d']+"'"
df_rattle_e['Q19e'] = "'" + df_rattle_e['Q19e']+"'"
df_rattle_e['Q19f'] = "'" + df_rattle_e['Q19f']+"'"
df_rattle_e['Q19g'] = "'" + df_rattle_e['Q19g']+"'"
df_rattle_e['p_state'] = "'" + df_rattle_e['p_state']+"'"
df_rattle_e['p_gender_sdc'] = "'" + df_rattle_e['p_gender_sdc']+"'"
df_rattle_e['p_age_group_sdc'] = "'" + df_rattle_e['p_age_group_sdc']+"'"
df_rattle_e['p_education_sdc'] = "'" + df_rattle_e['p_education_sdc']+"'"

In [71]:
df_rattle_e.head()

,srcid,Q1,Q2,Q4,Q6a,Q6b,Q6c,Q6d,Q7a,Q7b,...,Q19b,Q19c,Q19d,Q19e,Q19f,Q19g,p_state,p_gender_sdc,p_age_group_sdc,p_education_sdc
0,32,'2','19','Centre-left','3','4','4','4','3','3',...,'3.0','2.0','3.0','3.0','3.0','3.0','1','2.0','3.0','1.0'
5,1483,'2','11','Centre-right','3','4','3','2','2','2',...,'3.0','2.0','3.0','3.0','3.0','3.0','1','2.0','3.0','2.0'
6,3,'4','5','Centre-right','2','2','2','2','1','1',...,'2.0','2.0','3.0','3.0','3.0','3.0','1','2.0','3.0','3.0'
7,1635,'2','2','Centre-left','4','4','3','4','2','2',...,'3.0','2.0','3.0','3.0','3.0','3.0','1','1.0','3.0','2.0'
10,2023,'2','1','-98','4','4','3','3','3','3',...,'2.0','3.0','3.0','3.0','3.0','3.0','1','2.0','3.0','2.0'

In [72]:
# Daving dataframe as CSV for analysis on Rattle
df_rattle_e.to_csv('rattle_version_e.csv', index = False)